/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

:root {
  --primary-color: #7a4af3;
  --bg-color: #ffff;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Poppins, sans-serif";
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
body {
  background-color: #5137c5;
  color: #ffff;
}

/* Navbar */
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(160, 132, 232, 0.8);
  border-bottom: 1px solid #a084e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: antiquewhite;
}

.navbar .navbar-nav a {
  color: #ffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra :hover {
  color: var(--primary-color);
}

#humberger-menu {
  display: none;
}
/* navbar search */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  height: 3rem;
  width: 50%;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}
.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-right: 0.5rem;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg-color);
  align-items: center;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--primary-color);
  background-color: #ffff;
  transition: 0.3s ease;
}

.shopping-cart.active {
  right: 0;
}
.shopping-cart .cart-item {
  margin: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}
.shopping-cart img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;
  font-weight: 400;
}
.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: large;
}

.shopping-cart .remove-item:hover {
  color: #e4c309;
}
/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/acupunture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 1, 1),
    rgba (225, 225, 225, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #ffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
  line-height: 1.1;
}

.hero .content h1 span {
  color: var(--primary-color);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 100;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
}

/* About Section */
.about,
.menu,
.contact,
.produks {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.produks h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.produks h2 span {
  color: var(--primary-color);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex-direction: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu Section */
.menu h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p,
.produks p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.5rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.menu-card {
  text-align: center;
  padding-bottom: 2rem;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card-title {
  margin-top: 1.5rem auto 0.5rem;
}

/* produk */
.produks .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.produks .produk-card {
  text-align: center;
  border: 1px solid #666;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(1, 1, 1, 1, 0.5);
}

.produks .produk-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.produks .produk-icons a {
  color: #ffff;
  font-size: 1.5rem;
  width: 4rem;
  margin: 0.3rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produks .produk-icons a:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.produks .produk-image {
  padding: 1rem;
}
.produks .produk-image img {
  height: 25rem;
  border-radius: 3px;
}
.produks .produk-content h3 {
  font-size: 2rem;
}
.produks .produk-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: red;
}
.produks .produk-stars .like {
  fill: #e4c309;
}

.produk-card .produk-price {
  font-size: 2rem;
  font-weight: bold;
}

.produk-card .produk-price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 0.5rem;
}
/* contact */
.contact .row {
  display: flex;
  margin-top: 2rem;
  color: var(--primary-color);
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  border: 1px;
  background-color: #9894ac;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #ffff;
  border: 1px;
  color: #5137c5;
  padding-left: 2rem;
  border-radius: 5px;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.7rem;
  font-size: 1.3rem;
  background: none;
  color: #5137c5;
  font-size: medium;
}

.contact .row form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7;
  background-color: var(--primary-color);
  color: #ffff;
  cursor: pointer;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
/* footer */
footer {
  background-color: #ad99f8;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 1rem;
}

footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: #ffff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: #5137c5;
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  padding: 0.7rem 1rem;
  color: #ffff;
}

footer .credit a {
  color: var(--primary-color);
  font-weight: 700;
}

/* modal box */

/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(160, 132, 232, 0.5);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--primary-color);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #888;
  width: 80%;
  border-radius: 2px;
  animation: animateModal 0.5s;
}

.modal-container .close-btn {
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary-color);
  color: #ffff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #humberger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #ad99f8;
    transition: 0.3s ease-in;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.5rem;
  }
  .menu .row .menu-card img {
    border-radius: 50%;
    width: 45%;
  }
}

.contact .row {
  flex-wrap: wrap;
}
.contact .row .map {
  height: 30rem;
}
.contact .row form {
  padding-top: 0;
}
.modal-content {
  flex-wrap: wrap;
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
