@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

:root {
  --primary-color: #a084e8;
  --bg-color: #ffff;
}

* {
  font-family: "Poppins, sans-serif";
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
body {
  background-color: #eeecf7;
  color: #ffff;
  min-height: 3000px;
}

/* Navbar */
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(160, 132, 232, 0.8);
  border-bottom: 1px solid #a084e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: antiquewhite;
}

.navbar .navbar-nav a {
  color: #ffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra :hover {
  color: var(--primary-color);
}

#humberger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/acupunture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 1, 1),
    rgba (225, 225, 225, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #ffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
  line-height: 1.1;
}

.hero .content h1 span {
  color: var(--primary-color);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 100;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 1, 0.5);
}

/* About Section */
.about,
.menu {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
  color: var(--primary-color);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex-direction: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #humberger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #ad99f8;
    transition: 0.3s ease-in;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
}
/* Mobile Phone */
@media (max-width: 458px) {
  html {
    font-size: 55%;
  }
}
